<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yll.self.testapp" >

    <application
        android:name="yll.self.testapp.hook.HookApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="yll.self.testapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="yll.self.testapp.normal.NormalActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name="yll.self.testapp.normal.HashTestActivity">

        </activity>
        <activity android:name="yll.self.testapp.datasave.SaveDataActivity"/>
        <activity android:name="yll.self.testapp.datasave.StreamTestActivity"/>
        <activity android:name="yll.self.testapp.normal.mvp.view.MVPTestActivity"/>
        <activity android:name="yll.self.testapp.normal.mvp2.view.MVP2TestActivity"/>
        <activity android:name="yll.self.testapp.compont.service.TestServiceActivity"/>
        <activity android:name="yll.self.testapp.compont.CompontActivity"/>
        <activity android:name="yll.self.testapp.userinterface.UIAndAniActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.ClickBgActivity"/>
        <activity android:name="yll.self.testapp.compont.broadCast.SendBroadCastActivity"/>
        <activity android:name="yll.self.testapp.datasave.DbTestActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.ChangeAniActivity"/>
        <activity android:name="yll.self.testapp.design.DesignActivity"/>
        <activity android:name="yll.self.testapp.design.TextInputLayoutActivity"/>
        <activity android:name="yll.self.testapp.design.FloatingActionButtonActivity"/>
        <activity android:name="yll.self.testapp.design.TabActivity"/>
        <activity android:name="yll.self.testapp.design.TabLayoutActivity"/>
        <activity android:name="yll.self.testapp.design.TabAndViewPagerActivity"/>
        <activity android:name="yll.self.testapp.design.NavigationViewActivity"/>
        <activity android:name="yll.self.testapp.design.AppBarLayoutActivity"
            android:theme="@style/NoActionBarBaseTheme"/>
        <activity android:name="yll.self.testapp.design.CollapsingToolbarActivity"
            android:theme="@style/NoActionBarBaseTheme"/>
        <activity android:name="yll.self.testapp.design.TransLateBehaviorActivity"/>
        <activity android:name="yll.self.testapp.design.ScrollBehaviorActivity"/>
        <activity android:name="yll.self.testapp.WebviewTestActivity"/>
        <activity android:name="yll.self.testapp.other.OtherActivity"/>
        <activity android:name="yll.self.testapp.compont.contentprovider.ContactActivity"/>
        <activity android:name="yll.self.testapp.compont.contentprovider.ContentProviderActivity"/>
        <activity android:name="yll.self.testapp.hook.HookTestActivity"/>

        <service android:name= "yll.self.testapp.compont.service.TestService"/>

        <!--静态注册广播，谁的priority优先级高谁就先接收-->
        <!--<receiver android:name="yll.self.testapp.Compont.BoardCast.MyUnorderedBroadCastA">-->
            <!--<intent-filter android:priority="900">-->
                <!--<action android:name="yll.self.testapp.UnOrderBroadAction"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="yll.self.testapp.Compont.BoardCast.MyUnorderedBroadCastB">-->
            <!--<intent-filter android:priority="910">-->
                <!--<action android:name="yll.self.testapp.UnOrderBroadAction"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

    <!--创建文件需要该权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--读取通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

</manifest>
