<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yll.self.testapp">

    <uses-sdk tools:overrideLibrary="com.airbnb.lottie"/>

    <!-- Tell the system this application requires OpenGL ES 3.0. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>

    <application
        android:name="yll.self.testapp.hook.HookApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="yll.self.testapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="yll.self.testapp.normal.NormalActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name="yll.self.testapp.normal.HashTestActivity">

        </activity>
        <activity android:name="yll.self.testapp.datasave.SaveDataActivity"/>
        <activity android:name="yll.self.testapp.datasave.StreamTestActivity"/>
        <activity android:name="yll.self.testapp.normal.mvp.view.MVPTestActivity"/>
        <activity android:name="yll.self.testapp.normal.mvp2.view.MVP2TestActivity"/>
        <activity android:name="yll.self.testapp.compont.service.TestServiceActivity"/>
        <activity android:name="yll.self.testapp.compont.CompontActivity"/>
        <activity android:name="yll.self.testapp.userinterface.UIAndAniActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.ClickBgActivity"/>
        <activity android:name="yll.self.testapp.compont.broadCast.SendBroadCastActivity"/>
        <activity android:name="yll.self.testapp.compont.broadCast.SendBroadCastActivityNewProcess"
            android:process=":new"/>
        <activity android:name="yll.self.testapp.datasave.DbTestActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.ChangeAniActivity"/>
        <activity android:name="yll.self.testapp.design.DesignActivity"/>
        <activity android:name="yll.self.testapp.design.TextInputLayoutActivity"/>
        <activity android:name="yll.self.testapp.design.FloatingActionButtonActivity"/>
        <activity android:name="yll.self.testapp.design.TabActivity"/>
        <activity android:name="yll.self.testapp.design.TabLayoutActivity"/>
        <activity android:name="yll.self.testapp.design.TabAndViewPagerActivity"/>
        <activity android:name="yll.self.testapp.design.NavigationViewActivity"/>
        <activity android:name="yll.self.testapp.design.AppBarLayoutActivity"
            android:theme="@style/NoActionBarBaseTheme"/>
        <activity android:name="yll.self.testapp.design.CollapsingToolbarActivity"
            android:theme="@style/NoActionBarBaseTheme"/>
        <activity android:name="yll.self.testapp.design.TransLateBehaviorActivity"/>
        <activity android:name="yll.self.testapp.design.ScrollBehaviorActivity"/>
        <activity android:name="yll.self.testapp.WebviewTestActivity"/>
        <activity android:name="yll.self.testapp.other.OtherActivity"/>
        <activity android:name="yll.self.testapp.compont.contentprovider.ContactActivity"/>
        <activity android:name="yll.self.testapp.compont.contentprovider.ContentProviderActivity"/>
        <activity android:name="yll.self.testapp.hook.HookTestActivity"/>
        <activity android:name="yll.self.testapp.other.annotation.CustomAnnotationActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.AnimationActivity"/>
        <activity android:name="yll.self.testapp.userinterface.animation.SlidingPaneActivity"/>
        <activity android:name=".other.lockscreen.CustomScreenLockActivity"/>
        <activity android:name=".userinterface.lottie.LottieActivity"
            android:label="Lottie"/>
        <activity android:name=".userinterface.lottie.LottieShowActivity"
            android:label="Lottie Effect"/>
        <activity android:name=".other.tts.TTSActivity"/>
        <activity android:name=".thirdlib.ThirdLibActivity"/>
        <activity android:name=".thirdlib.retrofit.RetrofitActivity"
            android:label="Retrofit"/>
        <activity android:name=".userinterface.ShowAllTextActivity"
            android:label="ShowAllTextActivity"/>
        <activity android:name=".userinterface.TestViewActivity"/>
        <activity android:name=".compont.wallpaper.WallPaperActivity"/>
        <activity android:name=".other.SurfaceViewTestActivity"/>
        <activity android:name=".other.thread.ThreadTestActivity"/>
        <activity android:name=".userinterface.views.TextClockTestActivity"/>

        <service android:name= "yll.self.testapp.compont.service.TestService"/>
        <service android:name=".other.lockscreen.LockScreenService"/>
        <service android:name=".compont.service.CheckActivityService"/>
        <activity android:name=".thirdlib.rxjava.RxJavaTextActivity"/>
        <activity android:name=".userinterface.opengl.OneOpenGlActivity"/>
        <activity android:name=".userinterface.camera.CameraPreviewActivity"/>
        <activity android:name=".userinterface.GifActivity"/>
        <activity android:name=".compont.broadCast.CancelStaticBroadCastActivity"/>
        <receiver android:name=".compont.broadCast.MyStaticBroadCastReceiver">
            <intent-filter>
                <action android:name="TEST_CANCEL_STATIC_BROADCAST_RECEIVER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".design.ScrollingActivity"
            android:label="ScrollingActivity"
            android:parentActivityName=".design.DesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".opengl.OpenGLMainActivity" />
        <activity android:name=".opengl.HelloTriangleActivity"
            android:label="第一个三角形"/>
        <activity android:name=".opengl.HelloRectangleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".opengl.HelloTextureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".opengl.Chapter6Example6_3Activity" />
        <activity android:name=".video.VideoMainActivity" />
        <activity android:name=".video.PlayerActivity" />
        <activity android:name=".compont.fragment.TestFragmentActivity"/>

        <service
            android:name=".compont.wallpaper.CameraLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper"/>
        </service>

        <service android:name=".compont.wallpaper.GifLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper_gif"/>
        </service>

        <service
            android:name=".compont.wallpaper.VideoLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper_video"/>
        </service>
        <!--静态注册广播，谁的priority优先级高谁就先接收-->
        <receiver android:name="yll.self.testapp.compont.broadCast.MyUnorderedBroadCastA"
            android:process=":new">
            <intent-filter >
                <!--<action android:name="yll.self.testapp.UnOrderBroadAction"/>-->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="yll.self.testapp.compont.broadCast.MyUnorderedBroadCastB">
            <intent-filter >
                <!--<action android:name="yll.self.testapp.UnOrderBroadAction"/>-->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name=".other.thread.MyIntentService"/>

    </application>

    <!--创建文件需要该权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--读取通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--锁屏-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!--系统级的弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions" />

    <!-- 设置壁纸 相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <!--//清除壁纸-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
